@import '../../scss/abstracts/_variables.scss';

.macros {
  grid-row: 2/4;
  grid-column: 4/5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 30px;
  margin-left: 31px;
}

.macro {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 24px;
  background-color: $color-bgd-xx-light;
  width: 258px;
  height: 128px;
  border-radius: $border-radius;
  padding: 32px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 2px;
}

.amount {
  color: $color-text-md-dark;
  font-size: 20px;
  font-weight: 700;
}

.indicator {
  color: $color-text-light;
  font-size: 14px;
  font-weight: 500;
}