@import '../../scss/abstracts/_variables.scss';

.wrapper {
  /* display:flex & justify-content: center are important
  to keep the text centered inside the score red arc */
  display: flex;
  justify-content: center;
  position: relative;
  grid-row: 3/4;
  grid-column: 3/4;
}

.chart li span {
  color: $color-text-dark !important;
}

.score-percentage {
  position: absolute;
  top: 24%;
  left: 38%;
  font-size: 26px;
  font-weight: 700;
  color: $color-text-md-dark;
  width: 25%;
  text-align: center;
  line-height: 1.5;
}

.text {
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: $color-text-light;
}