@import '../../scss/abstracts/_variables.scss';

.container {
  margin: 1rem 0;
}

.button {
  cursor: pointer;
  background: $color-primary;
  border: 2px solid black;
  border-radius: 22px;
  font-size: 18px;
  color: white;
  padding: 1rem;
  font-weight: 500;
  transition: all 0.25s ease;

  &:hover {
    background: $color-primary-hover;
  }
}