.wrapper {
  position: relative;
  grid-row: 3/4;
  grid-column: 1/2;
}

.title {
  position: absolute;
  top: 20px;
  left: 30px;
  font-size: 15px;
  font-weight: 500;
  color: white;
  z-index: 5;
}

.linechart {
  background: #ff0000;
  border-radius: 5px;
}

.custom-tooltip > .tooltip-text {
  font-size: 12px;
  font-weight: 500;
  margin: 6px;
}