.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 59px 0;
  width: 117px;
  height: calc(100vh - 91px);
  background-color: #020203;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
}

.navlist {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
  width: calc(100% - 178px);
  padding: 0;
}

.navlist > li {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.copyright {
  font-size: 12px;
  font-weight: 500;
  white-space: nowrap;
  margin-bottom: 40px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}