@import '../../scss/abstracts/_variables.scss';

.wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  grid-column: span 3;
  background-color: $color-bgd-xx-light;
  color: $color-text-dark;
  border-radius: $border-radius;
  font-size: 14px;
}

.title {
  position: absolute;
  top: 24px;
  left: 5%;
  font-size: 15px;
  font-weight: 500;
}

.custom-tooltip {
  background-color: $color-primary;
  color: white;
  font-size: 12px;
  font-weight: 500;
  padding: 10px;
}

.tooltip-info {
  font-size: inherit;
  font-weight: inherit;
}

li:first-of-type {
  margin-right: 32px !important;
}

li span {
  color: $color-text-light !important;
}

li > svg {
  margin-right: 10px !important;
}

@media screen and (max-width: 1279px) {
  .title {
    left: 10%;
  }
}